$primary-bg-color-dark: #531706;
$secondary-bg-color-dark: #972a0b;
$primary-color-dark: #efebeb;
$secondary-color-dark: #c1bdbd;
$primary-font-color-dark: #ffffff;
$secondary-font-color-dark: #000000;
$navigation-link-color-dark: #efb4a2;
$navigation-active-color-dark: #f1ebeb;
