$primary-bg-color-light: #efebeb;
$secondary-bg-color-light: #fffdfd;
$primary-color-light: #531706;
$secondary-color-light: #892b10;
$primary-font-color-light: #000000;
$secondary-font-color-light: #ffffff;
$navigation-link-color-light: #676363;
$navigation-active-color-light: #72240c;
