@mixin font($size, $weight: "") {
  font-size: $size;
  @if $weight!= "" {
    font-weight: $weight;
  }
}
@mixin dimension($width: "", $height: "") {
  @if $width!= "" {
    width: $width;
  }
  @if $height!= "" {
    height: $height;
  }
}
@mixin flexBox(
  $direction: row,
  $justifyContent: "",
  $alignItems: "",
  $wrap: "",
  $gap: ""
) {
  display: flex;
  flex-direction: $direction;
  @if $wrap != "" {
    flex-wrap: $wrap;
  }
  @if $justifyContent != "" {
    justify-content: $justifyContent;
  }
  @if $alignItems != "" {
    align-items: $alignItems;
  }
  @if $gap != "" {
    gap: $gap;
  }
}
@mixin infinite-scale($scale: 1.1, $duration: 1s, $easing: ease-in-out) {
  animation: infinite-scale-animation $duration $easing infinite;
  animation-play-state: running;

  &:hover {
    animation-play-state: paused;
  }
  @keyframes infinite-scale-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale($scale);
    }
    100% {
      transform: scale(1);
    }
  }
}
