@import "src/styles/light-theme-variables.scss";
@import "src/styles/dark-theme-variables.scss";
// Theme variables for light theme
:root {
  --primary-bg-color: #{$primary-bg-color-light};
  --secondary-bg-color: #{$secondary-bg-color-light};
  --primary-color: #{$primary-color-light};
  --secondary-color: #{$secondary-color-light};
  --primary-font-color: #{$primary-font-color-light};
  --secondary-font-color: #{$secondary-font-color-light};
  --navigation-link-color: #{$navigation-link-color-light};
  --navigation-active-color: #{$navigation-active-color-light};
}
// Theme variables for dark theme
[data-theme="dark"] {
  --primary-bg-color: #{$primary-bg-color-dark};
  --secondary-bg-color: #{$secondary-bg-color-dark};
  --primary-color: #{$primary-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --primary-font-color: #{$primary-font-color-dark};
  --secondary-font-color: #{$secondary-font-color-dark};
  --navigation-link-color: #{$navigation-link-color-dark};
  --navigation-active-color: #{$navigation-active-color-dark};
}
